.todoListMainDiv .header input {
  padding: 10px;
  border: 2px solid #BF3F3F;
  width: 165px;
  font-size: 16px;
}
.todoListMainDiv .header button {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0066FF;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
}
.todoListMainDiv .header button:hover {
  cursor: pointer;
  background-color: #003399;
  border: 2px solid #003399;
}
.todoListMainDiv .listClass {
  width: 300px;
  list-style: none;
  padding-left: 0;
}
.todoListMainDiv .listClass li {
  width: 300px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #333;
  transition: background-color .2s ease-out;
  cursor: pointer;
  background-color: DarkGray;
}

.todoListMainDiv .listClass li button {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0066FF;
  margin: 10px;
  margin-right: 0px;
  background-color: #5cb85c;
  color: #FFF;
}

.hide {
    display: none;
}
